{
  "TOKEN": "OTMwNDI2MTk2Njk1NjEzNDcy.Yd1s6w._NI0Bu6LbPE2NtI2SOxFVK1XFw8",
  "YOUTUBE_API_KEY": "",
  "SOUNDCLOUD_CLIENT_ID": "",
  "MAX_PLAYLIST_SIZE": 10,
  "PREFIX": "/",
  "PRUNING": false,
  "LOCALE": "en",
  "STAY_TIME": 30,
  "DEFAULT_VOLUME": 100
}
